<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<body>

<li class="nav-item dropdown" th:fragment="myInfo">
    <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="navbarDropdown"
       role="button"><i class="fas fa-user fa-fw"></i></a>
    <ul aria-labelledby="navbarDropdown" class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" th:href="@{/api/users/signIn}">로그인</a></li>
        <div sec:authorize="isAuthenticated()">
            <li><a class="dropdown-item"
                   th:href="@{/api/users/{userId}(userId=${#authentication.getPrincipal().getUser().getId()})}">회원
                정보</a>
            </li>
            <li><a class="dropdown-item" th:href="@{/users/password}">비밀번호 변경</a></li>

            <li>
                <hr class="dropdown-divider"/>
            </li>
            <li><a class="dropdown-item" th:href="@{/api/users/signOut}">로그아웃</a></li>
        </div>
    </ul>
</li>

</body>
</html>
