<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">

<body>
<main>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-bar me-1"></i>
                내 게시글
            </div>
            <div class="card-body">
                <table th:replace="~{fragment/simplePosts :: simplePosts(${myPosts})}"></table>
            </div>
        </div>
    </div>
</main>
</body>

</html>